<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sebastien CAPS">
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="/konsumo/static/css/apexchart-styles.css" />
    <link rel="stylesheet" href="/konsumo/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/konsumo/static/css/konsumo.css" />
    <script src="/konsumo/static/js/apexcharts.js"></script>
    <script src="/konsumo/static/js/bootstrap.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <main class="container text-center">
    <div id="content">
        <center>
            <h1>{% if current_user.is_authenticated %} KonsumO <img class="imgprofile" src="{{ current_user.profile_pic }}" alt="Google profile pic"></img>{% else %} Welcome to Konsumo !{% endif %}</h1>
        </center>
        <br><br><br>
        <div class="row">    
            <div class="col-4">
                {% include 'menu.html' %}
            </div>
            <div class="col-8">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
    </div>
</body>
</html>