<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sebastien CAPS">
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="/konsumo/static/css/apexchart-styles.css" />
    <link rel="stylesheet" href="/konsumo/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/konsumo/static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/konsumo/static/css/konsumo.css" />
    <script src="/konsumo/static/js/apexcharts.js"></script>
    <script src="/konsumo/static/js/popper.min.js"></script>
    <script src="/konsumo/static/js/bootstrap.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% include 'menu.html' %}
    <main class="container text-center">
    <div id="content">
        
        
        <br>

        {% if notif_msg is defined and notif_msg == True %}
        <div class="col-sm-8 position-absolute">
          <div class="top-0">
            <div class="alert fade alert-simple alert-success alert-dismissible text-left rendered show">
              <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="alert"></button>
              Information <strong>successfully</strong> saved !.
            </div>
          </div>  
        </div>
        {% endif %}        
        <div class="row">    
            <!-- div class="col-10" -->
                {% block content %}{% endblock %}
            <!-- /div -->
        </div>
    </main>
    </div>
    <br><br><br><br>
    {% include 'footer.html' %}
</body>
</html>