{% extends "base.html" %}
{% block title %} Konsumo :: a home energy consumption chart {% endblock %}
{% block head %}
<meta http-equiv="refresh" content="300">
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<style>

  .konsumo_chart {
  max-width: 650px;
  margin: 35px auto;
}
  
</style>
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center"><h2>Konsumo</h2></div>
<p><br></p>


{% if current_user.is_authenticated %}
<div>
  <div class="row">
  <div class="col">
    <div class="row">
        <form class="row mb-4" action="/konsumo/data/list" method="GET" role="form" onchange="submit();">
        <div class="d-inline-flex align-items-center">
          <label for="chart_type" class="form-label">Type&nbsp;</label>        
          <select name="type" id="chart_type" class="form-select w-50">
            {% for type_l in type_list %}
            <option {{ 'selected' if type_l == chart_type }} value="{{ type_l }}">{{ type_l | replace('_',' ') }}</option>
            {% endfor %}
          </select>
          <a href="{{ url_for('konsumo.encoding') }}?type={{ chart_type }}" class="btn btn-primary">Add new value</a>
        </div>
        
        </form>
    </div>
    
  </div>
  </div>
 
 <div class="row">
   <div class="col">   
    <table class="table table-striped" summary="List of encoded data">
    <tr>
        <th><b>Date</b></th>
        <th><b>Value 1</b></th>
        <th><b>Value 2</b></th>
        <th><b>Delete</b></th>
    </tr>
    
    {%- for id, date, value1, value2 in data_list %}
        <tr>
            <td>{{ date }}</td>
            <td>{{ value1 }}</td>
            <td>{{ value2 }}</td>
            <td>
              <form method="post" action="{{ url_for('konsumo.data_del') }}">
              <input type="hidden" name="id" value="{{ id }}">
              <input type="hidden" name="type" value="{{ chart_type }}">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button type="submit" name="delete" class="btn btn-labeled btn-danger btn-sm"><span class="btn-label"><i class="fa fa-trash"></i></span> Delete</button>
              </form>
            </td>
        </tr>
    {% endfor %}
    </table>
   </div>
 </div>


</div>
{% endif %}

{% endblock %}