{% extends "base.html" %}
{% block title %} Konsumo :: a home energy consumption chart {% endblock %}
{% block head %}
<meta http-equiv="refresh" content="300">
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<style>

  .konsumo_chart {
  max-width: 650px;
  margin: 35px auto;
}
  
</style>
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center"><h2>Konsumo</h2></div>
<p><br></p>


{% if current_user.is_authenticated %}
<div class="mb">
<p><br></p>
<form action="/konsumo/data/add" method="POST" role="form">
<div class="row">
 <div class="col">
    <div class="mb-4 row">
        <label for="type" class="col-sm-3 col-form-label">Type</label>
        <div class="col-sm-8">
            <select name="type" class="form-select">
            {% for type_l in type_list %}
            <option {{ 'selected' if type_l == chart_type }} value="{{ type_l }}">{{ type_l | replace('_',' ') }}</option>
            {% endfor %}
            </select>
        </div>
    </div>
    <div class="mb-4 row">
        <label for="date" class="col-sm-3 col-form-label">Date</label>
        <div class="col-sm-8">
            <input type="date" name="date"   value="" class="form-control">
        </div>
    </div>
    <div class="mb-4 row">
        <label for="value1" class="col-sm-3 col-form-label">Value 1</label>
        <div class="col-sm-8">
            <input type="text" name="value1" value="" class="form-control">
        </div>
    </div>
    <div class="mb-4 row">
        <label for="value2" class="col-sm-3 col-form-label">Value 2</label>
        <div class="col-sm-8">
            <input type="text" name="value2" value="" class="form-control">
        </div>
    </div>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="submit" value="Save" class="btn btn-primary col-sm-3"><br>
 </div>
</div>
</form>
<br>
<br>
<a href="/konsumo/data/list?type={{ chart_type }}">Check encoded data</a>

</div>
{% endif %}

{% endblock %}