{% extends "base.html" %}
{% block title %} Konsumo :: a home energy consumption chart {% endblock %}
{% block head %}
<meta http-equiv="refresh" content="300">
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<style>

  .konsumo_chart {
  max-width: 650px;
  margin: 35px auto;
}
  
</style>
{% endblock %}
{% block content %}

  <div class="d-flex justify-content-center row">
  <h1>Welcome to Konsumo !</h1>
  </div>
  <div class="d-flex justify-content-center row"><h6>
    Konsumo is a home energy consumption charts web site.<br>
    After authenticating you are able to encode your home energy consumption manually(or via API).<br>
    Then you can follow all your energy consumption on your screen.<br>
  </h6></div>
</div>
<div class="row"><br></div>
<div class="row"><br></div>
<p><br></p>
<div id="chart"></div>

<script>
 var options = {
     series: [{
       name: "Electricity 2023",
       data: [15, 22, 58, 64, 73, 76, 81, 70, 36, 17 ]
     },
     {
       name: "Electricity 2022",
       data: [12, 21, 62, 52, 73, 58, 69, 77, 36, 15 ]
     },
     {
       name: 'Electricity 2021',
       data: [17, 27, 74, 99, 75, 58, 62, 77, 32, 16 ]
     }
   ],
     chart: {
     height: 350,
     type: 'line',
     zoom: {
       enabled: false
     },
   },
   dataLabels: {
     enabled: false
   },
   stroke: {
     width: [5, 7, 5],
     curve: 'straight',
     dashArray: [0, 8, 5]
   },
   title: {
     text: 'Electricity consumption',
     align: 'left'
   },
   legend: {
     tooltipHoverFormatter: function(val, opts) {
       return val + ' - <strong>' + opts.w.globals.series[opts.seriesIndex][opts.dataPointIndex] + '</strong>'
     }
   },
   markers: {
     size: 0,
     hover: {
       sizeOffset: 6
     }
   },
   xaxis: {
     categories: ['Sep', 'Oct', 'Nov', 'Dec', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun' ],
   },
   tooltip: {
     y: [
       {
         title: {
           formatter: function (val) {
             return val + ""
           }
         }
       },
       {
         title: {
           formatter: function (val) {
             return val + ""
           }
         }
       },
       {
         title: {
           formatter: function (val) {
             return val;
           }
         }
       }
     ]
   },
   grid: {
     borderColor: '#f1f1f1',
   }
   };

   var chart = new ApexCharts(document.querySelector("#chart"), options);
   chart.render(); 
 
</script>

{% endblock %}
<br><br>
<br><br>
