{% extends "base.html" %}
{% block title %} Konsumo :: a home energy consumption chart {% endblock %}
{% block head %}
<meta http-equiv="refresh" content="300">
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<style>

  .konsumo_chart {
  max-width: 650px;
  margin: 35px auto;
}
  
</style>
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center"><h2>Konsumo</h2></div>

{% if current_user.is_authenticated %}
<form action="/konsumo/location" method="POST">
    Current Location : <input type="text" name="location" value="{{ location }}">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="submit" value="Save">
    </form>
{% endif %}

{% endblock %}