<div class="position-relative">
 <div class="position-absolute top-0 end-0">
  <div class="dropdown" id="konsumo_menu">
   {% if current_user.is_authenticated %}
   <img class="imgprofile dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" src="{{ current_user.profile_pic }}" alt="Google profile pic"></img>
   {% else %}
   <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Konsumo
    </button>  
   {% endif %}
   <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/konsumo">Home</a></li>
      {% if not current_user.is_authenticated %}
      <li><a class="dropdown-item" href="/konsumo/auth/login">Login</a></li>
      {% else %}
      <li><a class="dropdown-item" href="/konsumo/charts">CHarts</a></li>
      <li><a class="dropdown-item" href="/konsumo/profile">Profile</a></li>
      <li><a class="dropdown-item" href="/konsumo/location">Location</a></li>
      <li><a class="dropdown-item" href="/konsumo/form">Encoding</a></li>
      <li><a class="dropdown-item" href="/konsumo/auth/logout">Logout</a></li>
      {% endif %}
   </ul>
  </div>
 </div>
</div>