<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Sebastien CAPS">
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" href="/konsumo/static/css/apexchart-styles.css" />
    <script src="/konsumo/static/js/apexcharts.js"></script>
    <script src="/konsumo/static/bootstrap.min.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>